body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    
}

header, nav, section, aside, footer {
    background: #ebebeb;
    text-align: center;
    margin: 10px;
    height: 50px;
    padding: 20px;
    display: block;
}

section {
    width: 495px;
    height: 210px;
    clear: left;
}
article {
    color: #ebebeb;
    background: #777;
    width: 470px;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

#inside {
    color: #777;
    background: #ebebeb;
    width: 427px;
    padding: 7px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
   
}

aside {
    float: right;
    width: 350px;
    height: 210px;
    margin-top: auto;
    

   
    
}